    <!-- <ng-container *ngIf="role === 'Admin'"> -->
  <app-sidebar>
      <div>
        <div class="cube" routerLink="/add">
          <span class="side top">Fasilitas Umum</span>
          <span class="side front">Fasilitas Karyawan</span>
        </div>
      
      <div class="container p-5">
        <form [formGroup]="addInventoryForm">
          <h1>Form Input Barang</h1>
          <div class="row">
            <div class="col-25">
              <label for="picture">Upload file</label>
            </div>
            <div class="col-75">
              <input name="picture" id="picture" type="file" (change)="onFileSelected($event)" accept="image/*">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="nama_barang">Nama Barang</label>
            </div>
            <div class="col-75">
              <input type="text" id="nama_barang" name="nama_barang" placeholder="Nama Barang ..."  formControlName="nama_barang" required>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="aksesoris">Aksesoris</label>
            </div>
            <div class="col-75">
              <input type="text" id="aksesoris" name="aksesoris" placeholder="Aksesoris dari barang"  formControlName="aksesoris">
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="fasilitas">Fasilitas</label>
            </div>
            <div class="col-75">
              <select id="fasilitas" name="fasilitas" formControlName="fasilitas" required>
                <option value="Fasilitas Karyawan">Fasilitas Karyawan</option>
              </select>           
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="unit">Unit</label>
            </div>
            <div class="col-75">
              <select id="unit" name="unit" formControlName="unit" required>
                <option value="SDIT">SDIT</option>
                <option value="PAUD">PAUD</option>
                <option value="SQA">SQA</option>
              </select>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="tempat">Nama Karyawan</label>
            </div>
            <div class="col-75">
              <select  id="tempat" name="tempat" formControlName="tempat" required>
                <option value="Ahmad Rais">Ahmad Rais</option>
                <option value="Annisa Mutmainah">Annisa Mutmainah</option>
                <option value="Arril Imanya Muqorrobi">Arril Imanya Muqorrobi</option>
                <option value="Aulia Nur Aqila">Aulia Nur Aqila</option>
                <option value="Bambang Trimo Priono">Bambang Trimo Priono</option>
                <option value="Beta Nur Diana">Beta Nur Diana</option>
                <option value="Dewi Dianawatie">Dewi Dianawatie</option>
                <option value="Diana Lin Hasanah">Diana Lin Hasanah</option>
                <option value="Dias Afandy">Dias Afandy</option>
                <option value="Dwi Wardani ">Dwi Wardani </option>
                <option value="Elyas Hadi Wiyono">Elyas Hadi Wiyono</option>
                <option value="Endang Riyaningsih">Endang Riyaningsih</option>
                <option value="Erna Puspitasari">Erna Puspitasari</option>
                <option value="Fauzia Ardiana">Fauzia Ardiana</option>
                <option value="Fitriyanti Rosyida">Fitriyanti Rosyida</option>
                <option value="Heffy Setyaningsih Wilujeng">Heffy Setyaningsih Wilujeng</option>
                <option value="Ida Khumaidah">Ida Khumaidah</option>
                <option value="Imam sudjono">Imam sudjono</option>
                <option value="Istiqomah">Istiqomah </option>
                <option value="irdan">irdan</option>
                <option value="Kariyati">Kariyati</option>
                <option value="Muhammad Taufik">Muhammad Taufik </option>
                <option value="Nazilatun Nikhma">Nazilatun Nikhma</option>
                <option value="Nelly Rizqi Rahmania">Nelly Rizqi Rahmania</option>
                <option value="Nirma ayu">Nirma ayu</option>
                <option value="Norma Novita Sari">Norma Novita Sari</option>
                <option value="Nur Hayati">Nur Hayati</option>
                <option value="Nurul Hasanah ">Nurul Hasanah </option>
                <option value="Nurul Tri Rahayu">Nurul Tri Rahayu</option>
                <option value="Rafly Affandy">Rafly Affandy</option>
                <option value="Ratih Puspita">Ratih Puspita</option>
                <option value="Rifa Nur Aini">Rifa Nur Aini</option>
                <option value="Riska Dina Tunazar">Riska Dina Tunazar</option>
                <option value="Ropingatin">Ropingatin</option>
                <option value="Saiful Huda">Saiful Huda</option>
                <option value="Sharla Azza Mayya">Sharla Azza Mayya</option>
                <option value="Siswandi">SIswandi</option>
                <option value="Sri Reni Pebrianti">Sri Reni Pebrianti</option>
                <option value="Suhartini">Suhartini</option>
                <option value="Sukardi">Sukardi</option>
                <option value="Sulaimah">Sulaimah</option>
                <option value="Sumiasih">Sumiasih</option>
                <option value="Titin Isa Wijaya">Titin Isa Wijaya</option>
                <option value="Ulin Ni'matul Anggraeni">Ulin Ni'matul Anggraeni</option>
                <option value="Ike">Ike</option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-25">
              <label for="tahun">Tahun Pembelian</label>
            </div>
            <div class="col-75">
              <select id="tahun" name="tahun" formControlName="tahun">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-25">
              <label for="jenis">Jenis Barang</label>
            </div>
            <div class="col-75">
              <select id="jenis" name="jenis" formControlName="jenis" required>
                <option value="Aksesoris">Aksesoris</option>
                <option value="ART">ART</option>
                <option value="Elektronik">Elektronik</option>
                <option value="Mabel">Mabel</option>
                <option value="Media Pembelajaran">Media Pembelajaran</option>
                <option value="Buku">Buku</option>
              </select>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="jumlah">Jumlah Barang</label>
            </div>
            <div class="col-75">
              <input type="number" id="jumlah" name="jumlah" placeholder="Masukan Jumlah (Nomor Saja)" min="1"  formControlName="jumlah" required>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="dana">Asal Dana</label>
            </div>
            <div class="col-75">
              <select id="dana" name="dana" formControlName="dana">
                <option value="Bosnas">BOSNAS</option>
                <option value="Bosda">BOSDA</option>
                <option value="Hibah">BOP</option>
                <option value="DPP">DPP</option>
                <option value="Hadiah">Hadiah</option>
                <option value="Yayasan">Yayasan</option>
              </select>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="sifat">Barang Tetap/ Barang Habis</label>
            </div>
            <div class="col-75">
              <select id="sifat" name="sifat" formControlName="sifat" required>
                <option value="Habis">Habis</option>
                <option value="Tetap">Tetap</option>
              </select>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="kondisi">Kondisi</label>
            </div>
            <div class="col-75">
              <select id="kondisi" name="kondisi" formControlName="kondisi" required>
                <option value="Baik">Baik</option>
                <option value="Rusak">Rusak</option>
                <option value="Dalam Perbaikan">Dalam Perbaikan</option>
              </select>
            </div>
          </div>
  
          <div class="row">
            <div class="col-25">
              <label for="harga">Perkiraan Harga Barang</label>
            </div>
            <div class="col-75">
              <input type="number" id="harga" name="harga" placeholder="Perkiraan Harga" min="1"  formControlName="harga">
            </div>
          </div>
  
          <br>
          <div class="row">
            <button class="submitForm" type="submit" (click)="onAddInventory()"> Tambah Inventory</button>
            <br>
            <br>      
          </div>
        </form>
      </div>
    </div>
  </app-sidebar>