button {
  width: 9vw;
  height: 6vh;
  border-radius: 20px;
  font-size: 0.9rem;
}

table  {
  font-size: 1.05rem;
}

@media (max-width: 767px) {
  .table {
    font-size: 0.9rem;
  }
  button {
    width: max-content;
    height: max-content;
  }
}