<app-sidebar>
<div class="container p-5">
    <form #form="ngForm" [formGroup]="addSopForm">
      <h1>Form SO</h1>
      <div class="row" hidden>
        <div class="col-25">
          <label for="id_user">ID User</label>
        </div>
        <div class="col-75">
          <input type="text" name="id_user" id="id_user" required readonly formControlName="id_user" [(ngModel)]="id">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="id_barang">ID Barang</label>
        </div>
        <div class="col-75">
          <input type="text" name="id_barang" id="id_barang" required readonly formControlName="id_barang" [(ngModel)]="barang.id">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="nama_barang">Nama Barang</label>
        </div>
        <div class="col-75">
          <input type="text" name="nama_barang" id="nama_barang" required readonly formControlName="nama_barang" [(ngModel)]="barang.nama_barang">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="nama_user">Peetugas SO</label>
        </div>
        <div class="col-75">
          <input type="text" name="nama_user" id="nama_user" required readonly formControlName="nama_user" [(ngModel)]="fullName">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="jumlah">Jumlah Barang</label>
        </div>
        <div class="col-75">
          <input type="number" id="jumlah" name="jumlah" placeholder="Masukan Jumlah (Nomor Saja)" min="1"  formControlName="jumlah" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="kondisi">Kondisi</label>
        </div>
        <div class="col-75">
          <textarea  name="kondisi" id="kondisi" formControlName="kondisi" placeholder="kondisi Kehilangan, rusak dll"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="waktusop"> Waktu SO</label>
        </div>
        <div class="col-75">
          <input type="date" name="waktusop" id="waktusop" formControlName="waktusop" required>
        </div>
      </div>
      <br>
      <div class="row">
        <button (click)="onSopbarang()" type="submit">Simpan </button>
        <button (click)="back()" type="submit">Kembali </button>
        <br>
        <br>             
      </div>
    </form>
  </div>
</app-sidebar>