<app-sidebar>
    <div class="container">
      <div class="card">
        <div class="card-details">
          <p class="text-title">Detail Barang</p>
          <p class="text-body">
          <ul>
            <li>
              <img src="http://127.0.0.1:8000/api/inventory/showpict/{{barang.id}}/picture" alt="Picture of {{barang.nama_barang}}">
            </li>
            <li>
              Id Barang : {{barang.id}}
            </li>
            <li>
              Nama : {{barang.nama_barang}}
            </li>
            <li>
              Aksesoris : {{barang.aksesoris}}
            </li>
            <li>
              Fasilitas :  {{barang.fasilitas}}
            </li>
            <li>
              Unit : {{barang.unit}}
            </li>
            <li>
              Sumber Dana : {{barang.dana}}
            </li>
            <li>
              Ruangan/User: {{barang.tempat}}
            </li>
            <li>
              Kategori :  {{barang.jenis}}
            </li>
            <li>
              Jumlah Barang :  {{barang.jumlah}}
            </li>
            <li>
              Tahun pembelian: {{barang.tahun}}
            </li>
            <li>
              Sifat :  {{barang.sifat}}
            </li>
            <li>
              Kondisi :  {{barang.kondisi}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <button [routerLink]="['peminjaman']" class="half-button">Peminjaman</button>
        <button [routerLink]="['laporan']" class="half-button">Laporan</button>
      </div>
    </div>
  </app-sidebar>