<app-sidebar>
    <div class="box content">
        <div class="inputGroup">
            <input id="searcInput" type="text" autocomplete="off" placeholder="Cari disini" [(ngModel)]="searchText">
        </div>
        <table class="table table-striped" id="product">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Barang</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Kondisi</th>
                    <th scope="col">Ruangan</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let barang of listBarang | filter:searchText">
                    <td>
                        {{barang.id}}
                    </td>
                    <td>
                        {{barang.nama_barang}}
                    </td>
                    <td>
                        {{barang.kondisi}}
                    </td>
                    <td>
                        <button [routerLink]="['ruangan', barang.tempat]">SO Ruangan {{barang.tempat}}</button>
                </tr>
            </tbody>
        </table>
          
    </div>
</app-sidebar>