<div class="container">
    <div id="searchbutton">
        <input type="text" autocomplete="off" placeholder="Cari disini" [(ngModel)]="searchText">
        <button class="half-button" (click)="printThisPage()">Print</button>
        <button class="half-button" routerLink="/allinventory"> Kembali </button>
    </div>
    <div class="container">
        <div *ngFor = "let barang of listBarang | filter:searchText" class="printcard">     
            <div>
                <!-- <qr-code value="https://inventory.insanmuliamalang.sch.id/view/{{barang.id_barang}}" size="150" errorCorrectionLevel="L"></qr-code> -->
            </div>
            <div class="printcardDetail">
                <div class="footcard">
                    <p>Properti Milik YIM Malang</p>
                </div>
                <ul>
                    <li>
                        Nama : {{barang.nama_barang}}
                    </li>
                    <li>
                        Fasilitas : {{barang.fasilitas}}
                    </li>
                    <li>
                        Ruangan/User : {{barang.tempat}}
                    </li>
                    <li>
                        Kategori : {{barang.jenis}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>