.container {
    display: flex;
    flex-wrap: wrap;
}

.half-button {
    width: 47%;
    margin: 3px;
    border-radius: 20px;
    height: 40px;
  }

  #searchbutton{
    display: flex;
    flex-direction: row;
  }

#container-input {
    display: flex;
    flex-direction: column;
}

.printcard {
    display: inline-flex;
    width: 35vw;
}

@media print {
    button {
        display: none;
    }
    input {
        display: none;
    }
    .printcard {
        width: 40vw;
    }
}