button {
    width: 6vw;
    height: 5vh;
    border-radius: 20px;
}
.table {
  font-size: 0.9rem;
}
.button-excell{
    width: 28vw;
    height: 7vh;
    margin: 5px;
}

#button-table{
  display: flex;
  flex-direction: column;
}


@media (max-width: 767px) {
    .table {
      font-size: 0.9rem;
    }
    button {
      width: max-content;
      height: max-content;
    }
    .button-excell{
        width: 20vw;
    }
  }