button {
    width: 6vw;
    height: 5vh;
    border-radius: 20px;
  }
.inputGroup {
    display: flex;
    flex-direction: row;
}
.button-excell{
    width: 11vw;
    height: 6vh;
}

@media (max-width: 767px) {
    .table {
      font-size: 0.9rem;
    }
    button {
      width: max-content;
      height: max-content;
    }
    .button-excell{
        width: 20vw;
    }
  }